<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835831592815-7bfqmouvbrgahu2h43tde1jh4uplu9o7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835831592815-7bfqmouvbrgahu2h43tde1jh4uplu9o7</string>
	<key>API_KEY</key>
	<string>AIzaSyCJtNBfLpBV24OUNRmaTN63cZ5O-cn0Ypw</string>
	<key>GCM_SENDER_ID</key>
	<string>835831592815</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yogesh.ChirpZone</string>
	<key>PROJECT_ID</key>
	<string>chirpzone-aecf8</string>
	<key>STORAGE_BUCKET</key>
	<string>chirpzone-aecf8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835831592815:ios:978a1fb13be710eff5da9a</string>
</dict>
</plist>